@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

 /* / Global / */

.display-flex{
    display: flex;
}

.h2-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.date{
    margin-left: 38px;
    margin-top: -27px;
}
.date-text{
    font-weight: 500;
    padding: 15px 19px;
    border-radius: 48px;
    color: white;
    border: none;
}

.footer-text-color{
    color: white;
}

/* / Navbar / */

.navbar{
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
}

.navbar-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 11px 11px;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}

.nav-links
{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    align-items: center;
}

#nav-home{
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
}
#nav-about{
    color: rgba(1, 172, 253, 1);
}
#nav-facilities{
    color: #05D4DF;
}
#nav-admission{
    color: #5D58EF;
}

.primary-btn{
    background-color: rgba(254, 163, 1, 1);
    color: #FFFFFF;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
}

.menu-icon{
    display: none;
}
.marq{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #05D4DF;
    font-size: 1.5rem;
    background-color: #ecb73b;
    color: white;
    padding: 10px;
    font-weight: bold;
}


/* / Banner / */


.banner{
    max-width: 1160px;
    margin: 0 auto;
    gap: 50px;
}

.banner-content{
    margin-top: 122px; 
}

.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}

.banner-description{
    margin-top: 0;
    margin-bottom: 24px;
}

#empowering{
    color: rgba(254, 163, 1, 1);
}
#towards-vision{
    color: rgba(1, 172, 253, 1);
}

.secondary-btn{
    background-color: black;
    color: #FFFFFF;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}


/* / ==================================================== /

/ Standard Curriculum / */

.curriculum{
    background-image: url(assets/bg.png);
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 80px;
}

.curriculum-img{
    display: flex;
    justify-content: center;
    padding: 53px 116px;
}

.curriculum-card-1{
    background: linear-gradient(to bottom, #DEF5FF, #ffffff);
    border-radius: 19px;
    border: 0.5px solid #DEF5FF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

.curriculum-card-1 img{
    justify-content: center;
}

.read-more-1{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: #64C8FF;
    margin-bottom: 53px;
}


.curriculum-card-2{
    background: linear-gradient(to bottom, #FFF4DC, #ffffff);
    border-radius: 19px;
    border: 0.5px solid #FFF4DC;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

.curriculum-card-2 img{
    justify-content: center;
}

.read-more-2{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: #F0AA00;
    margin-bottom: 53px;
}

.curriculum-card-3{
    background: linear-gradient(to bottom, #F2E8FF, #ffffff);
    border-radius: 19px;
    border: 0.5px solid #F2E8FF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

.curriculum-card-3 img{
    justify-content: center;
}

.read-more-3{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: #8700FF;
    margin-bottom: 53px;
}

.curriculum-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.curriculum-card-description{
    font-weight: 500;
    text-align: center;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 32px;
}

.slider-controls{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}

.slider-button{
    background-color: rgba(254, 163, 1, 1);
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* / ==================================================== /

/ Our Stories / */

.stories{
    background-image: url(assets/bg.png), linear-gradient(to top, rgba(254, 163, 1, 0.3), #ffffff);
}

.stories-cards{
    gap: 20px;
    margin-bottom: 80px;
    max-width: 1160px;
    margin: 0 auto;
}
.stories-card{
    background-color: white;
    border-radius: 16px;
    gap: 20px;
}

.stories-card img{
    border-radius: 16px;
}

.stories-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 38px;
    padding-right: 38px;
    line-height: 38px;
    margin-top: 48px;
    
}
.stories-card-description{
    color: rgba(102, 102, 102, 1);
    font-weight: 500;
    line-height: 28px;
    padding-left: 38px;
    padding-right: 74px;
    margin-top: 48px;
    margin-bottom: 35px;
}

.stories-sub-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stories-sub-cards img{
    width: 290px;
    height: 177px;
    object-fit: cover;
    border-radius: 10px;
}

.stories-sub-card{
    background-color: white;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1rem;

}

.stories-sub-card-title{
    padding: 28px 38px;
    line-height: 28px;
}

.stories-sub-card img{
    border-radius: 16px;
}

.bg-color-1{
    background-color: #3CD8E8;
}
.bg-color-2{
    background-color: #95B226;
}
.bg-color-3{
    background-color: #5D58F0;
}

.stories-btn{
    margin-top: 80px;
    text-align: center;
}

.thirdly-btn{
    background-color: black;
    color: white;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 60px;
}

/* / ==================================================== /

/ Footer / */

footer{
    background-color: #01ACFD;
}

.footer-container{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 123px;
    padding-bottom: 174px;
    gap: 150px;
}
.footer-card{
    width: 400px;
}

.footer-img{
    height: 75px;
    width: 300px;
    gap: 10px;
}

.footer-title{
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}

.footer-description{
    font-size: 1.25rem;
    margin-top: 35px;
}

.about-school{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin-top: 32px;
}
  
.footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-title{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.social-icons{
    gap: 10px;
}


/* / ==================================================== /

/ Responsive / */

@media screen and (max-width: 576px) {
    .navbar{
        border: 1px solid orange;
        padding: 20px;
    }

    .nav-links,
    .navbar-title,
    .primary-btn{
        display: none;
    }
    .menu-icon{
        display: inline-block;
        padding: 15px;
        font-size: 24px;
    }

    .banner{
        flex-direction: column-reverse;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-content{
        margin: 0px;
    }

    .banner-title,
    .banner-description{
        text-align: center;
        margin-bottom: 18px;
    }
    .secondary-btn{
        align-items: center;

    }

    .enroll-now{
        text-align: center;
    }

    .curriculum-cards{
        grid-template-columns: 1fr;
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .curriculum-card-description{
        text-align: center;
    }

    .slider-controls{
        display: none;
    }

    .footer-container{
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .stories-sub-card{
        background: white;
        border-radius: 10px;
        height: 180px;
        width: 170px;
      }
    
      .stories-card {
        display: none;
      }
    
      .stories-cards{
        grid-template-columns: repeat(1, 1fr);
      }
      .stories-cards img {
        width: 170px;
        height: 100px;
        border-radius: 10px;
    }

    .date-text{
        width: 103px;
        height: 22px;
        padding: 0;
        font-size: .6rem;
        margin-bottom: -10px;
    }
    .stories-sub-card-title{
        text-align: center;
        padding: 0;
    }

}
